.DS_Store
*.pyc
*.pyo
*.sqlite3
dist
*.egg
*.egg-info
_mailinglist
.tox
node_modules
.idea
.pytest_cache
nohub.out

*.pyd
*.pyc

.vscode
.settings
venv
.venv

*.db
*.log
*.tar.gz
*.so
build/
log/wna.log
migrations/*
__pycache__
__pycache__/*
env.md
setup.py
Dockerfile
Dockerfile_base
scripts/*

*.zip
.python-version
uv.lock
pyproject.toml
Doc.md
diamoe_tts/src/f5_tts/infer/batch_infer_test.sh

dialect_frontend/*.txt
dialect_frontend/*.log
dialect_frontend/test
resources